@charset "UTF-8";
@import "compass";

@import "utilities/reset";
@import "utilities/variables";
@import "utilities/extends";
@import "utilities/mixins";
@import "utilities/typography";
@import "utilities/animation";
@import "utilities/forms";
@import "utilities/fonticons";

@import "modules/header";
@import "modules/footer";

@import "layouts/base";
@import "layouts/home";
@import "layouts/services";
@import "layouts/recommendations";
@import "layouts/other";