footer.footer(role='contentinfo')
	.container-content
		.footer__content
			nav.footer__content__nav
				a(href="/about") Über uns
				a(href="#") Geschichte
				a(href="#") Referenzen
				a(href="#") Kontakt
				a(href="#") Team
				a(href="#") Unternehmensstruktur
				a(href="#") Leistungen
				a(href="#") Unser Newsletter
			
			.footer__content__contact
				div
					b A:
					strong Hirsch International:
					span Weingarthofstr. 23 / 4020 Linz / Austria
					img(src="assets/i/flag.png", srcset="assets/i/flag@2x.png", alt="Hirsch International contacts in Austria", loading="lazy", width="21px")
				
				div
					b T:
					a(href="tel: +43732603233", target="_blank", rel="noopener") +43 732 603233

				div
					b E:
					a(href="mailto: office@hirsch-international.com", target="_blank", rel="noopener") office@hirsch-international.com

			.footer__content__techinfo
				span @ HIRSCH INTERNATIONAL GMBH 2020
				a(href="") Impressum
				a(href="") Datenschutz

		.footer__socials
			a(href="#", target="_blank", rel="noopener"): img(src="assets/i/facebook.png", srcset="assets/i/facebook@2x.png", alt="Facebook", loading="lazy", width="44px")
		.footer__banner
			.banner-social
				a(href="#"): img(src="assets/i/Hirsch-Social-thumbnail.png", srcset="assets/i/Hirsch-Social.svg", alt="Social Projects by Hirsch International", loading="lazy", width="170px")
				a.btn-orange(href="#") MEHR