include ../mixins/sections.pug

header.header.header-home(role='banner')
	.header-home__top
		+headerTop()

	.header-home__video
		h1.container-content Weil innere Werte zählen
		<video autoplay muted loop>
			<source src="assets/i/Hirsch.mp4" type="video/mp4">
		</video>

		a.scroll(href="#main")
			<svg class="animatedAppearUp" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23px" height="55px" viewBox="0 0 23 49.2" xml:space="preserve">
				<path class="st0" d="M11.5,34.2L11.5,34.2c-6.1,0-11-4.9-11-11V11.5c0-6.1,4.9-11,11-11s11,4.9,11,11v11.7C22.5,29.3,17.6,34.2,11.5,34.2z"/>
				<path class="st0 arrow" d="M2.1,37.4l9.3,5.7l9.3-5.7"/>
				<path class="st0 arrow" d="M2.1,43l9.3,5.7l9.3-5.7"/>
				<path class="st0" d="M11.5,17.8L11.5,17.8c-0.9,0-1.6-0.7-1.6-1.6V8.4c0-0.9,0.7-1.6,1.6-1.6c0.9,0,1.6,0.7,1.6,1.6v7.8C13.1,17.1,12.4,17.8,11.5,17.8z"/>
			</svg>

			span.animatedAppearUp ZUM INHALT SCROLLEN

		script.
			animateScroll('.header-home__video');