include ../mixins/sections.pug

header.header.header-home(role='banner')
	+headerTop()
	.header-home__title
		h1.container-content Weil innere Werte zählen

	.header-home__video
		<video autoplay muted loop>
			<source src="assets/i/Hirsch.mp4" type="video/mp4">
		</video>