.bx-wrapper {
    position: relative;
    padding: 0;
    *zoom: 1;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
  }

  .bx-wrapper img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .bxslider {
    margin: 0;
    padding: 0;
  }

  ul.bxslider {
    list-style: none;
  }

  .bx-viewport {
    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
  }
  
//   /** THEME
//   ===================================*/

.bx-pager {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;

  &-item {
    display: inline-block;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  &-link {
    display: block;
    color: transparent;
    background-color: var(--color-body);
    width: 10px;
    height: 10px;
    border-radius: 5px;

    &.active {
      background-color: var(--color-orange);
    }
  }
}

.bx-controls-direction {
  a {
    fill:none;
    stroke: var(--color-text);
    stroke-width:3;
    stroke-linecap:round;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.5);

    display: block;
    position: absolute;
    top: calc( 50% - 20.4px);

    &:hover {
      stroke: var(--color-orange)
    }

    &.bx-next {
      right: 0;
    }
  }
  
}