.btn-bordered {
    display: inline-block;
    @extend %link_noline;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 10px 30px;
}

.btn-bordered {
    border: 1px solid var(--color-gray);
    color: var(--color-orange);

    &:hover {
        background-color: var(--color-orange);
        color: var(--color-body);
    }
}