mixin headerTop()
	.header__top
		.container-content
			.header__top__mobile
				a(href=""): img(src="assets/i/Hirsch-Logo-thumbnail.png", srcset="assets/i/Hirsch-Logo-Gorizontal@2x.png", alt="Hirsch International GMBH Logotype", loading="lazy", width="180px")
				a.toggler(href="#", data-content="mobilemenu")
					span
					span
					span

			#mobilemenu.toggler-content.header__menu
				.row.header__menu__links
					.header__menu__links__item
						a(href="") Referenzen

					.header__menu__links__item
						a(href="#") Leistungen
						.header__menudropdown
							.container-content
								.services-list
									a(href="#")
										img(alt="", src="assets/i/tmp/history-4.jpg")
										span Projekt- und Baumanagement
									a(href="#")
										img(alt="", src="assets/i/tmp/history-4.jpg")
										span Trockenbau
									a(href="#")
										img(alt="", src="assets/i/tmp/history-4.jpg")
										span Stuck- und Putzarbeiten (Farbe & Struktur)
									a(href="#")
										img(alt="", src="assets/i/tmp/history-4.jpg")
										span Malerarbeiten
									a(href="#")
										img(alt="", src="assets/i/tmp/history-4.jpg")
										span Bodenlegearbeiten
									a(href="#")
										img(alt="", src="assets/i/tmp/history-4.jpg")
										span Bodenbeschichtungen
									a(href="#")
										img(alt="", src="assets/i/tmp/history-4.jpg")
										span Fliesenlegearbeiten
									a(href="#")
										img(alt="", src="assets/i/tmp/history-4.jpg")
										span Tischlerarbeiten
									a(href="#")
										img(alt="", src="assets/i/tmp/history-4.jpg")
										span Wärmedämmung
									a(href="#")
										img(alt="", src="assets/i/tmp/history-4.jpg")
										span Fassadentechnik


					.header__menu__links__item
						a(href="") Über uns

				.row.logo
					a(href=""): img(src="assets/i/Hirsch-Logo-thumbnail.png", srcset="assets/i/Hirsch-Logo@2x.png", alt="Hirsch International GMBH Logotype", loading="lazy", width="120px")
					
				.row.header__menu__links
					.header__menu__links__item
						a(href="") Team
					.header__menu__links__item
						a(href="") Geschichte
					.header__menu__links__item
						a(href="") Kontakt

					.header__menu__links__item.language.dropdown
						a(href="").dropdown__toggle.active DE
						.dropdown__content
							a(href="").active DE
							a(href="") EN
							a(href="") PL


mixin sign_Hirsch()
	| <svg id="SignHirsch" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="132px" height="40px" viewBox="0 0 129.7 37.8" xml:space="preserve">
	| <style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}</style>
	| <g>
	| <path class="st0" d="M31.8,16.7c0,0-36.3,11.1-27.7-3.9C11.3,0,32.4-2.6,29.8,8S14,35.5,2.4,35.3C-7,35.2,21.1,8.7,21.1,8.7"/>
	| <path class="st0" d="M27.3,31.6c0,0-0.8,1.7,1.7,1.7"/>
	| <path class="st0" d="M48.8,8.3c0,0,8.7-10.2,12.4-7.3c2.9,2.3-14.6,25.4-19.6,36.3"/>
	| <path class="st0" d="M69.9,9c-2.2,5.1-6.8,9.2-10.2,15.8c-5.9,11.4-2.5,12.7,1,12.5c2-0.1,5.5-2.3,8.4-6.5"/>
	| <path class="st0" d="M45.4,22.7c0,0,16.8-2.9,19.7-0.7"/>
	| <path class="st0" d="M72.3,25.7c0,0-8.6,11.1-1.9,10.2c4.5-0.6,15.2-9.2,13.6-10.8s-3,3.9,0,3.9c1.7,0,2.7,0,5.2-1.7c1.5-1-7.8,10.9-1.1,7.5c5-2.5,18-14.2,12.5-11.2s4.6,9-2.1,11.5c-2.5,0.9-3.7-1.9-3.7-1.9"/>
	| <path class="st0" d="M98.6,35.2c0,0,5.5,0.6,8.8-4.4"/>
	| <path class="st0" d="M113.3,29.9c0,0,1.7-6.9-2.5-4.4c-5.6,3.4-3.7,12.6,1.7,8.6c3.3-2.5,4.2-3.3,9.2-11.7c3.1-5.2,10-20.1,6.7-16.7C125,9,117.5,34.9,117.5,34.9s7.8-11.9,8.6-8.6c0.8,3.3-4.2,11.1,1.7,8.6"/>
	| <path class="st0" d="M74,22.4c0,0-1.7,0.8-0.8,0.8"/>
	| </g>
	| </svg>


mixin sign_Bogensperger()
	| <svg id="SignBogensperger" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="237px" height="60px" viewBox="0 0 235.6 53.7" style="enable-background:new 0 0 235.6 53.7;" xml:space="preserve">
	| <style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}</style>
	| <g>
	| <path class="st0" d="M13.7,17.5c0,0,21.1-28.1,22.5-12.1C37.5,21.5,11.2,58,2,52.7s27-32.2,37.6-36.2"/>
	| <path class="st0" d="M36.3,33.4c0,0-0.9-1.8-2.4,0.4"/>
	| <path class="st0" d="M51.9,11.4c0,0,37.9-19.4,30.2-4.4S63.8,22,65.6,19.4c3.6-5.2,17.4-4.5,15.5,4.4c-1.8,8.9-9.1,18.6-29.3,22.1c-16.5,2.9,33.8-20.4,33.8-20.4"/>
	| <line class="st0" x1="71" y1="1.6" x2="51.7" y2="34.6"/>
	| <path class="st0" d="M99.7,29.1c-9,3.3-20.4-1.8-11.3-5.1c9.7-3.6,2.2,13-3.4,11.9c-5.6-1.1,5.6-10.8,5.6-10.8"/>
	| <path class="st0" d="M107,29.1c0,0,2.7-5.3-2.7-3.5c-5.5,1.8-7.3,9.7-3.7,8.9c3.7-0.9,9.1-8.9,9.1-8.9S97.1,57.3,94.1,52.1c-3.7-6.2,4.7-11.9,17.5-19.5c12.8-7.6,9.7-9.3,6.7-7.1c-2.9,2.1-7.2,10.3-1.1,8.9c7.3-1.8,12.9-9.7,12.7-9.5c-1.2,1-7.7,11-6.1,10.4c1.6-0.6,5.4-7,10.9-9.7c5-2.4-5.6,11.7-2,9.9c3.9-1.9,21.2-13.2,14-9.7c-3.7,1.8,6.2,7.1-1.1,9.7c-2.7,1-3.5-2.8-3.5-2.8"/>
	| <path class="st0" d="M146.8,35.1c0,0,7.3-2.2,14.3-9.8c0,0-10,21.7-11.1,19.5c-1.1-2.2,11.9-23.5,17.3-18.4c1.5,1.4-0.3,5-2.7,7.1c-2.1,1.9-4.8,2.4-5.5,1.8c-0.9-0.9,2.5-2.5,8.2-3.5c14.6-2.7,11.6-8.4,8.1-5.9c-3.3,2.4-5.7,11.1,0.2,9.3c5.9-1.9,11.8-7.8,10.9-9.5c-1.2-2.2-4.2,3.5-0.9,3.5c1.8,0,2.7,0,5.5-1.8c3.1-2-11,14.2,4.6,5.3"/>
	| <path class="st0" d="M203.8,29.1c0,0,2.7-5.3-2.7-3.5c-5.5,1.8-7.3,9.7-3.7,8.9c3.7-0.9,9.1-8.9,9.1-8.9s-13,31.2-16.8,26.6c-6.8-8.5,7.6-11.9,20.4-19.5c12.8-7.6,7.6-9.3,4.6-7.1c-2.9,2.1-6.2,11.1,0,9.9c0,0,11.9-3.3,11.9-10.6c0-2.7-5.3,5.5-2,5.5c1.8,0,4-2.1,6.7-3.9c3.1-2-10,14.5,3.8,6.5"/>
	| </g>
	| </svg>



mixin section_services()
	section
		.services
			.container-content
				.services__list
					.services__listcontent
						a(href="", data-img="service-1.jpg") Projekt- und Baumanagement
						a(href="") Trockenbau
						a(href="") Stuck- und Putzarbeiten (Farbe & Struktur)
						a(href="") Malerarbeiten
						a(href="") Bodenlegearbeiten

						a(href="") Bodenbeschichtungen
						a(href="") Fliesenlegearbeiten
						a(href="") Tischlerarbeiten
						a(href="") Wärmedämmung
						a(href="") Fassadentechnik
					
					.services__border.animated-border

				.services__image

			script.
				var services = document.querySelectorAll('[data-img]');
				var img = document.querySelector('.services__image');
				services.forEach(function(item, index, array) {
					item.addEventListener("mouseenter", function( event ) {
							img.style.backgroundImage = "url('assets/i/services/"+event.target.dataset.img+"')";
						}, false);
					item.addEventListener("mouseleave", function( event ) {
							img.style.backgroundImage = "url('assets/i/services/service-default.jpg')";
						}, false);	
				});

				animateScroll('.services');


mixin section_map()
	section.map
		.container-content
			.map__map
				img.map__map__map(src="assets/i/map-thumbnail.png", srcset="assets/i/map.gif", alt="Geographie, Unsere Büros auf der ganzen Welt", loading="lazy", width="100%")
				img.map__map__logo(src="assets/i/Hirsch-Logo-Small-thumbnail.png", srcset="assets/i/Hirsch-Logo-Small.svg", alt="Hirsch International", loading="lazy", width="36px")
			.map__text.animated-border
				h2 Weltweit für Sie vor Ort
				p Für Sie sind wir überall vor Ort, unabhängig davon, wie komplex und herausfordernd Ihr Neubau, Umbau oder Ihre Sanierung ist: In unseren Zentralen in Österreich, Polen, Tschechien, Rumänien, der Schweiz und überall dort, wo sie uns gerade brauchen, von Europa über Asien und Afrika bis Amerika und gern noch ein kleines Stück weiter.
		
		script.
			animateScroll('.map');