extends extends/layout.pug
include mixins/sections.pug

block html
    - var meta_title = 'Über uns'
    - var page_layout = 'default'
    - var bodyclass = ''

block content
    .container-content-narrow.text-center
        h1 Über uns

    section
        h2 Komplettanbieter für Innenausbau
        .section-i-left.animatedAppear
            img.img(src="assets/i/tmp/about-1.png", alt="")
            div.content.narrow
                h4 Ihr Projekt in besten Händen
                p Hirsch International ist weltweiter Auftragnehmer für Innenausbau und bietet Komplettlösungen mit Projektmanagement aus einer Hand: Maler, Tapezierer, Bodenleger, Trockenbau, Fliesenleger, Metallbau u. a.

    section.container-content-narrow.text-center
        h2 EINE STOLZE FAMILIE
        p Wachstum braucht starke Wurzeln: Als Herzstück des Unternehmens ist die Hirsch Beteiligungs GmbH die Basis, von der alles abstammt. Für Komplettlösungen im Innenausbau steht die Hirsch International GmbH, die in mehreren Ländern vertreten ist. Die Hirsch Social engagiert sich für die Ärmsten der Armen und betreibt Entwicklungshilfe mit Sinn.  Alle erfolgreichen Tochterunternehmen tragen den Kern des Unternehmens weiter, wachsen und beschreiten neue Wege.

    section.hirschtree-wrap

        a.hirschtree-mobile(href="#")
            img(src="assets/i/Hirsch-tree-mobile.png", alt="Hirsch International GMBH FAMILIE", loading="lazy")

        .hirschtree
            .level-1
                a.item(href="#")
                    img(src="assets/i/Hirsch-Logo-Social-thumbnail.png", srcset="assets/i/Hirsch-Logo-Social@2x.png", alt="Hirsch International GMBH Logotype", loading="lazy", width="90px")
                    span.item__share
                        b 100%
                    span.item__name Otto & Vera Hirsch

                a.item.head(href="#")
                    img(src="assets/i/Hirsch-Logo-Head-thumbnail.png", srcset="assets/i/Hirsch-Logo-Head@2x.png", alt="Hirsch International GMBH Logotype", loading="lazy", width="115px")
                    span.item__share  
                        b 100%     
                    span.item__name O. Hirsch
                
                a.item(href="#")
                    img(src="assets/i/Hirsch-Logo-thumbnail.png", srcset="assets/i/Hirsch-Logo@2x.png", alt="Hirsch International GMBH Logotype", loading="lazy", width="100px")
                    span.item__share
                        b.s-50 50%
                        b.s-50 50%
                    span.item__name O. Hirsch  J. Bogensperger 

            .level-2     
                a.item(href="#")
                    img(src="assets/i/Hirsch-Logo-thumbnail.png", srcset="assets/i/Hirsch-Logo@2x.png", alt="Hirsch International GMBH Logotype", loading="lazy", width="80px")
                    span.item__name TSCHECHIEN
                    span.item__share
                        b 100%
                    span.item__name
                        | HIRSCH
                        br/
                        | international
                   
                a.item(href="#")
                    img(src="assets/i/Hirsch-Logo-thumbnail.png", srcset="assets/i/Hirsch-Logo@2x.png", alt="Hirsch International GMBH Logotype", loading="lazy", width="80px")
                    span.item__name SCHWEIZ
                    span.item__share
                        b 100%
                    span.item__name
                        | HIRSCH
                        br/
                        | international
                
                a.item(href="#")
                    img(src="assets/i/Hirsch-Logo-thumbnail.png", srcset="assets/i/Hirsch-Logo@2x.png", alt="Hirsch International GMBH Logotype", loading="lazy", width="80px")
                    span.item__name RUMÄNIEN
                    span.item__share
                        b 100%
                    span.item__name
                        | HIRSCH
                        br/
                        | international

                a.item(href="#")
                    img(src="assets/i/Hirsch-Logo-thumbnail.png", srcset="assets/i/Hirsch-Logo@2x.png", alt="Hirsch International GMBH Logotype", loading="lazy", width="80px")
                    span.item__name POLEN
                    span.item__share
                        b.s-70 70%
                        b.s-30 30%
                    span.item__name
                        | HIRSCH international
                        br/
                        | J. Urbanczyk

            .level-3
                a.item(href="#")
                    img(src="assets/i/Hirsch-Logo-Katowice-thumbnail.png", srcset="assets/i/Hirsch-Logo-Katowice@2x.png", alt="Hirsch Katowice Logotype", loading="lazy", width="80px")
                    //- span.item__name KATOWICE
                    span.item__share
                        b 100%
                    span.item__name W. Biedak

                a.item(href="#")
                    img(src="assets/i/Hirsch-Logo-Warshaw-thumbnail.png", srcset="assets/i/Hirsch-Logo-Warshaw@2x.png", alt="Hirsch Warshaw Logotype", loading="lazy", width="80px")
                    //- span.item__name WARSHAW
                    span.item__share  
                        b 100%
                    span.item__name R. Czlapa

        
    section.section-i-right.animatedAppear
        
        div.content.narrow
            h4 Komplettlösungen aus einer Hand
            p HUnser Vorteil: Wir verbinden die Schnittstellen zwischen den Gewerken und kümmern uns auch um die Details, damit die Qualität Ihres Projektes stimmt und die terminliche Koordination passt. Sie haben weniger Arbeit, weniger Sorgen, keine Extrakosten und nur einen Ansprechpartner.
            h4 Qualität durch Kompetenz und Erfahrung
            p Sie erhalten termingerechte Fertigstellung in europäischer Handwerksqualität, einen geordneten Baustellenablauf und profitieren von der sicheren Partnerschaft mit einem Familienunternehmen, dessen Geschichte bereits 1892 beginnt. 
        
        img.img(src="assets/i/tmp/about-2.png", alt="")
            
    +section_map()

    section.container-content-narrow
        a(href="").animated-border.phrasewindow: span Wir freuen uns auf Ihren Auftrag.

        script.
            animateScroll('.phrasewindow');