extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Homepage'
	- var page_layout = 'home'
	- var bodyclass = ''

block content
	.container-content-narrow
		section.home-specialization
			.row
				img(src="assets/i/specialization-1-thumbnail.png", srcset="assets/i/specialization-1@2x.png", alt="Wohnen Thumbnail", loading="lazy", width="162px")
				p Wohnen
				img(src="assets/i/specialization-2-thumbnail.png", srcset="assets/i/specialization-2@2x.png", alt="Hotels / Büro / Shopping Thumbnail", loading="lazy", width="115px")
				p Hotels / Büro / Shopping
				img(src="assets/i/specialization-3-thumbnail.png", srcset="assets/i/specialization-3@2x.png", alt="Luxury Exklusiv Thumbnail", loading="lazy", width="160px")
				p Luxury Exklusiv
			.row
				span Wohnen
				span Hotels / Büro / Shopping
				span Luxury Exklusiv

		script.
			animateScroll('.home-specialization');
	
		section.home-quality
			h2 Innenausbau<br/> für herausragende Ergebnisse
			.home-quality__begin
				span Beginn
				span der Geschichte
				span.big 1892
			
			.home-quality__content
				p Wir sind weltweiter Auftragnehmer für Innenausbau und bieten Komplettlösungen mit Projektmanagement aus einer Hand: Sie erhalten termingerechte Fertigstellung in europäischer Handwerksqualität, einen geordneten Baustellenablauf und profitieren von der sicheren Partnerschaft mit einem Familienunternehmen, dessen Geschichte bereits 1892 beginnt.
		
				.home-quality__sign
					+sign_Hirsch()
					+sign_Bogensperger()

			script.
				animateScroll('.home-quality');
	
	.home-services
		.home-services__text.container-content
			h2 Komplettlösungen aus einer Hand
			p Unser Vorteil: Wir verbinden die Schnittstellen zwischen der Gewerke und kümmern uns auch um die Details, damit die Qualität Ihres Projektes stimmt und die terminliche Koordination passt. Sie haben weniger Arbeit, weniger Sorgen, keine Extrakosten und nur einen Ansprechpartner.
		+section_services()

		script.
			animateScroll('.home-services');

	section.home-works
		h2.container-content Exklusive Werke

		#splide.home-works__slider.splide
			.splide__arrows
				.splide__arrow.splide__arrow--prev
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27.6px" height="22.9px" xml:space="preserve"><polygon points="27.6,11.1 1.8,11.1 12.2,0.7 11.5,0 0,11.5 11.5,22.9 12.2,22.2 2,12.1 27.6,12.1 "/></svg>
					span vor
				.splide__arrow.splide__arrow--next
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27.6px" height="22.9px" xml:space="preserve"><polygon points="0,11.1 25.9,11.1 15.5,0.7 16.2,0 27.6,11.5 16.2,22.9 15.5,22.2 25.6,12.1 0,12.1 "/></svg>
					span next

			.splide__track
				ul.splide__list
					li.splide__slide
						img(src="assets/i/works/1.jpg", alt="")
						//- .splide__slide__desc
							div: h3 Anstriche
							div: p Individuelle und durchdachte Farbkonzepte für höchste Spezialanforderungen
						.splide__slide__back
					li.splide__slide
						img(src="assets/i/works/2.jpg", alt="")
						//- .splide__slide__desc
							div: h3 Slide 2
							div: p Individuelle und durchdachte Farbkonzepte für höchste Spezialanforderungen
						.splide__slide__back
					li.splide__slide
						img(src="assets/i/works/3.jpg", alt="")
						//- .splide__slide__desc
							div: h3 Slide 3
							div: p Individuelle und durchdachte Farbkonzepte für höchste Spezialanforderungen
						.splide__slide__back

			.home-works__slider__panel
				.home-works__slider__panel__numbers#splide-numbers

		link(href='https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.8/dist/css/splide-core.min.css' rel='stylesheet')
		script(src='https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js')

		script.
			animateScroll('.home-works');

			function GetIndex(Slider) {
				var number = Slider.index + 1;
				var numberString = number + ' / ' + Slider.length;
				document.querySelector('#splide-numbers').innerHTML = numberString;
			}

			document.addEventListener( 'DOMContentLoaded', function () {
				
				var SliderWorks = new Splide( '#splide', {
					type: 'loop',
					fixedHeight: '615px',
					autoplay: true,
					cover: true,
					pagination: false,
					padding: {
						left: '230px',
					},
					breakpoints: {
						1180: {
							padding: {
								left: '0',
							},
						},
					}
				} ).mount();
				
				GetIndex(SliderWorks);

				SliderWorks.on( 'moved updated', function() {
					GetIndex(SliderWorks);
				} );
				
			} );

	section.home-recommendations
		.container-content
			h2 Unsere Referenzen
			.recommendations
				.recommendations__item
					img(src="assets/i/recommendations/recommendation-1@2x.jpg", alt="")
					strong Andermatt Resort Hotel 4B
					i Andermatt, Schweiz

				.recommendations__item
					img(src="assets/i/recommendations/recommendation-2@2x.jpg", alt="")
					strong Twin Tower Wien
					i Wien, Österreich

				.recommendations__item
					img(src="assets/i/recommendations/recommendation-3@2x.jpg", alt="")
					strong Penthouse
					i Berlin, Deutschland

			.home-recommendations__btn
				a.btn-bordered(href="") alle  >>>
				
		script.
			animateScroll('.home-recommendations');

	section.home-bonus
		div
			h2
				span
					| Ihre
					br/
					| Vorteile
			ul
				li.col1
					i
					span Wir arbeiten kompetent, vernetzt und haben Erfahrung
				li.col1
					i
					span Bieten höchste Handwerksqualität und Detailgenauigkeit
				li.col1
					i
					span Sind Ihr persönlicher Ansprechpartner
				li.col2
					i
					span Koordinieren verschiedenste Gewerke
				li.col2
					i
					span Verantworten Zeit und Kosten vertrauensvoll
				li.col2
					i
					span Garantieren Verlässlichkeit und Menschlichkeit

		script.
			animateScroll('.home-bonus');


	+section_map()