extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Homepage'
	- var page_layout = 'home'
	- var bodyclass = ''

block content
	.container-content-narrow
		section.home-specialization
			.row
				img(src="assets/i/specialization-1-thumbnail.png", srcset="assets/i/specialization-1@2x.png", alt="Wohnen Thumbnail", loading="lazy", width="160.72px")
				p Wohnen
				img(src="assets/i/specialization-2-thumbnail.png", srcset="assets/i/specialization-2@2x.png", alt="Hotels / Büro / Shopping Thumbnail", loading="lazy", width="113.5px")
				p Hotels / Büro / Shopping
				img(src="assets/i/specialization-3-thumbnail.png", srcset="assets/i/specialization-3@2x.png", alt="Luxury Exklusiv Thumbnail", loading="lazy", width="158.44px")
				p Luxury Exklusiv
			.row
				span Wohnen
				span Hotels / Büro / Shopping
				span Luxury Exklusiv
	
		section.home-quality
			h2 Innenausbau<br/> für herausragende Ergebnisse
			.home-quality__begin
				span Beginn
				span der Geschichte
				span.big 1892
			
			.home-quality__content
				p Wir sind weltweiter Auftragnehmer für Innenausbau und bieten Komplettlösungen mit Projektmanagement aus einer Hand: Sie erhalten termingerechte Fertigstellung in europäischer Handwerksqualität, einen geordneten Baustellenablauf und profitieren von der sicheren Partnerschaft mit einem Familienunternehmen, dessen Geschichte bereits 1892 beginnt.
		
				.home-quality__sign
					+sign_Hirsch()
					+sign_Bogensperger()
	
	.home-services
		.home-services__text.container-content
			h2 Komplettlösungen aus einer Hand
			p Unser Vorteil: Wir verbinden die Schnittstellen zwischen der Gewerke und kümmern uns auch um die Details, damit die Qualität Ihres Projektes stimmt und die terminliche Koordination passt. Sie haben weniger Arbeit, weniger Sorgen, keine Extrakosten und nur einen Ansprechpartner.

		.services
			.container-content
				.services__list
					.services__listcontent
						a(href="", data-img="service-1.jpg") Projekt- und Baumanagement
						a(href="") Trockenbau
						a(href="") Stuck- und Putzarbeiten (Farbe & Struktur)
						a(href="") Malerarbeiten
						a(href="") Bodenlegearbeiten

						a(href="") Bodenbeschichtungen
						a(href="") Fliesenlegearbeiten
						a(href="") Tischlerarbeiten
						a(href="") Wärmedämmung
						a(href="") Fassadentechnik
					
					.services__border

				.services__image

				script.
					var services = document.querySelectorAll('[data-img]');
					var img = document.querySelector('.services__image');
					services.forEach(function(item, index, array) {
						item.addEventListener("mouseenter", function( event ) {
								img.style.backgroundImage = "url('assets/i/services/"+event.target.dataset.img+"')";
							}, false);
						item.addEventListener("mouseleave", function( event ) {
								img.style.backgroundImage = "url('assets/i/services/service-default.jpg')";
							}, false);	
					});

	section.home-recommendations
		.container-content
			h2 Unsere Referenzen
			.recommendations
				a.recommendations__item(href="#")
					img(src="assets/i/recommendations/recommendation-1@2x.jpg", alt="")
					strong Andermatt Resort Hotel 4B
					i Andermatt, Schweiz

				a.recommendations__item(href="#")
					img(src="assets/i/recommendations/recommendation-2@2x.jpg", alt="")
					strong Twin Tower Wien
					i Wien, Österreich

				a.recommendations__item(href="#")
					img(src="assets/i/recommendations/recommendation-3@2x.jpg", alt="")
					strong Penthouse
					i Berlin, Deutschland

			.home-recommendations__btn
				a.btn-bordered(href="") alle  >>>
				

					
				