extends extends/layout.pug
include mixins/sections.pug

block html
    - var meta_title = 'Referenzen'
    - var page_layout = 'default'
    - var bodyclass = ''

block content
    section.container-content-narrow.text-center
        h1 Referenzen
        p Von uns erhalten Sie herausragende Ergebnisse im wahrsten Sinne des Wortes: Ihr Projekt befindet sich bei uns in besten Händen, selbst und gerade dann, wenn es besonders komplex und herausfordernd ist – freuen Sie sich auf den Ablauf und das Resultat.


    section.container-content
        .works
            .works__column
                .works__item
                    a.works__item__cover(href="#"): img(alt="", src="assets/i/referenzen/1/1_cover.jpg")
                    h2.works__item__title: a(href="#") Hotel Hyatt Prag
                    .works__item__desc: a(href="#") Tschechische Republik
                .works__info test

                .works__item
                    a.works__item__cover(href="#"): img(alt="", src="assets/i/referenzen/2/1_cover.jpg")
                    h2.works__item__title: a(href="#") militärkrankenhaus indonesien
                    .works__item__desc: a(href="#") Stadt, Land
                .works__info(style="background: crimson")
                
                .works__item
                    a.works__item__cover(href="#"): img(alt="", src="assets/i/referenzen/3/1_cover.jpg")
                    h2.works__item__title: a(href="#") Hotel Absheron / JW Marriott
                    .works__item__desc: a(href="#") Baku, Aserbaidschan
                .works__info(style="background: violet")

            .works__column
                .works__item
                    a.works__item__cover(href="#"): img(alt="", src="assets/i/referenzen/3/1_cover.jpg")
                    h2.works__item__title: a(href="#") Hotel Absheron
                    .works__item__desc: a(href="#") Baku, Aserbaidschan
                .works__info(style="background: wheat")

                .works__item
                    a.works__item__cover(href="#"): img(alt="", src="assets/i/referenzen/1/1_cover.jpg")
                    h2.works__item__title: a(href="#") Hotel Hyatt Prag
                    .works__item__desc: a(href="#") Tschechische Republik
                .works__info(style="background: seagreen")

                .works__item
                    a.works__item__cover(href="#"): img(alt="", src="assets/i/referenzen/2/1_cover.jpg")
                    h2.works__item__title: a(href="#") militärkrankenhaus
                    .works__item__desc: a(href="#") Stadt, Land
                .works__info(style="background: tomato")

            .works__column
                .works__item
                    a.works__item__cover(href="#"): img(alt="", src="assets/i/referenzen/2/1_cover.jpg")
                    h2.works__item__title: a(href="#") militärkrankenhaus indonesien
                    .works__item__desc: a(href="#") Stadt, Land
                .works__info(style="background: thistle")
                
                .works__item
                    a.works__item__cover(href="#"): img(alt="", src="assets/i/referenzen/3/1_cover.jpg")
                    h2.works__item__title: a(href="#") Hotel Absheron / JW Marriott
                    .works__item__desc: a(href="#") Baku, Aserbaidschan
                .works__info(style="background: darkolivegreen")

                .works__item
                    a.works__item__cover(href="#"): img(alt="", src="assets/i/referenzen/3/1_cover.jpg")
                    h2.works__item__title: a(href="#") Hotel Absheron / JW Marriott
                    .works__item__desc: a(href="#") Baku, Aserbaidschan
                .works__info(style="background: cornflowerblue")


        script.
            let
                list = document.querySelectorAll(".works__item"),
                data = document.querySelectorAll(".works__info"),
                active = "active";

            
            function setActive(obj) {
                list.forEach(function (entrylist) {
                    entrylist.classList.remove(active);
                });

                obj.classList.toggle(active);

                data.forEach(function(entrydata) {
                    entrydata.classList.remove(active);
                });

                obj.nextElementSibling.classList.toggle(active);
            }


            list.forEach(function (entry) {

                entry.addEventListener("click", function (event){
                    event.preventDefault();
                    setActive(this);
                });
            });

        //- script.
        //-     var xmlhttp = new XMLHttpRequest();
        //-     xmlhttp.onreadystatechange = function() {
        //-         //- if (this.readyState == 4 && this.status == 200) {
        //-         if (this.readyState == 4) {
        //-             var Data = JSON.parse(this.responseText);
        //-             console.log(Data);

        //-             Data.forEach(function(item, index, array) {
        //-                 console.log(item.title.rendered);
        //-                 document.getElementById("works").innerHTML = ""
        //-             });
        //-         }
        //-     };
        //-     xmlhttp.open("GET", "assets/js/referenzen.json", true);
        //-     xmlhttp.send();