extends extends/layout.pug
include mixins/sections.pug

block html
    - var meta_title = 'Social'
    - var page_layout = 'social'
    - var bodyclass = ''

block content
    
    h2.container-content.text-center alle sozialen Projekte

    section.container-content
        .works
            .works__item
                img.works__item__cover(alt="", src="assets/i/referenzen/1/1_cover.jpg")
                h2.works__item__title „St. Konrad“ Collage – Berufsausbildung
                .works__item__desc Uganda, Afrika
                .works__item__year 2019
                .works__item__partner
                    span Partner: 
                    span St. Konrad Institut Uganda
                    
            .works__item
                img.works__item__cover(alt="", src="assets/i/referenzen/2/1_cover.jpg")
                h2.works__item__title Soforthilfe für unbegleitete Jugendliche auf Lesbos
                .works__item__desc Stadt, Land
            
            .works__item
                img.works__item__cover(alt="", src="assets/i/referenzen/3/1_cover.jpg")
                h2.works__item__title Sanierung Kindergarten, Grund- und Hauptschule sowie Neuausstattung des regionalen Krankenhauses in Zorinsk
                .works__item__desc Baku, Aserbaidschan


            .works__item
                img.works__item__cover(alt="", src="assets/i/referenzen/3/1_cover.jpg")
                h2.works__item__title Hotel Absheron
                .works__item__desc Baku, Aserbaidschan


            .works__item
                img.works__item__cover(alt="", src="assets/i/referenzen/1/1_cover.jpg")
                h2.works__item__title Hotel Hyatt Prag
                .works__item__desc Tschechische Republik


            .works__item
                img.works__item__cover(alt="", src="assets/i/referenzen/2/1_cover.jpg")
                h2.works__item__title militärkrankenhaus
                .works__item__desc Stadt, Land


            .works__item
                img.works__item__cover(alt="", src="assets/i/referenzen/2/1_cover.jpg")
                h2.works__item__title militärkrankenhaus indonesien
                .works__item__desc Stadt, Land

            
            .works__item
                img.works__item__cover(alt="", src="assets/i/referenzen/3/1_cover.jpg")
                h2.works__item__title Hotel Absheron / JW Marriott
                .works__item__desc Baku, Aserbaidschan


            .works__item
                img.works__item__cover(alt="", src="assets/i/referenzen/3/1_cover.jpg")
                h2.works__item__title Hotel Absheron / JW Marriott
                .works__item__desc Baku, Aserbaidschan

