extends extends/layout.pug
include mixins/sections.pug

block html
    - var meta_title = 'Leistungen'
    - var page_layout = 'default'
    - var bodyclass = ''

block content
    section.container-content-narrow.text-center
        h1 Team
        h2 Unternehmen sind Menschen
    
    section.container-content.team#International
        .team__heading
            img(src="assets/i/Hirsch-Logo-Small-thumbnail.png", srcset="assets/i/Hirsch-Logo-Small.svg", alt="Hirsch International", loading="lazy", width="47px")
            h3 Team Hirsch international
            h4 Österreich, Schweiz, Tschechien, Rumänien

        .team__grid

            .item
                .item__card
                    .item__img: img(alt="", src="assets/i/tmp/Otto.jpg")
                    .item__info
                        div
                            h4 Otto Hirsch
                            p Geschäftsführender Gesellschafter Allg. beeid. & gerichtl. zertifizierter Sachverständiger
                        div
                            p
                                span.color-orange E:
                                span o.hirsch@hirsch-international.com
                            p
                                span.color-orange T:
                                span +43 0 664 3405 261

                div
                    p Otto Hirsch ist Geschäftsführer in der vierten Generation. Mit seiner Energie und Begeisterung schaffte er aus dem eltertlichen Malereibetrieb ein internationales Unternehmen. Seine Familie ist ihm Rückgrat und unterstützt ihn bei seinen Sozialprojekten auf der ganzen Welt.


            .item
                .item__card
                    .item__img: img(alt="", src="")
                    .item__info
                        div
                            h4 Johann Bogensperger
                            p Geschäftsführender Gesellschafter
                        div
                            p
                                span.color-orange E:
                                span bogensperger@hirsch-international.com
                            p
                                span.color-orange T:
                                span +43 0 664 2452 304


            .item
                .item__card
                    .item__img: img(alt="", src="")
                    .item__info
                        div
                            h4 Vera Hirsch
                            p Assistentin
                        div
                            p
                                span.color-orange E:
                                span vera@hirsch-beteiligungs.com
                            p
                                span.color-orange T:
                                span +43 0 664 1005825

                p Warum bin ich bei der Firma Hirsch: „Kenne Otto Hirsch seit 22 Jahren, als Ehefrau und Assistentin. Er ist eine unglaubliche Persönlichkeit. Solche Menschen sollen Länder regieren , nicht nur Firma . Verantwortungsvoll , Kompetenz, Ehrlichkeit, Qualität, Hilfsbereitschaft gibts in diese Firma seit 130 Jahren. Bin stolz diese Name zur tragen ;)“



    section.container-content.team#Polen
        .team__heading
            img(src="assets/i/Hirsch-Logo-Small-thumbnail.png", srcset="assets/i/Hirsch-Logo-Small.svg", alt="Hirsch International", loading="lazy", width="47px")
            h3 Team Hirsch international
            h4 Polen
            p www.hirsch-polska.pl

        .team__grid

            .item
                .item__card
                    .item__img: img(alt="", src="")
                    .item__info
                        div
                            h4 Jacek Urbańczyk
                            p Berufsbezeichnung
                        div
                            p
                                span.color-orange E:
                                span urbanczyk@otto.hb.pl

            .item
                .item__card
                    .item__img: img(alt="", src="")
                    .item__info
                        div
                            h4 Renata Kosz
                            p Prokurent Hirsch International Polska  Sp. z o.o.
                        div
                            p
                                span.color-orange T:
                                span +48 605 857 015



    section.container-content.team.green#Katowice
        .team__heading
            img(src="assets/i/Hirsch-Logo-Green-thumbnail.png", srcset="assets/i/Hirsch-Logo-Green.svg", alt="Hirsch International", loading="lazy", width="47px")
            h3 Team Hirsch
            h4 Katowice
            p www.hirsch-katowice.pl

        .team__grid

            .item
                .item__card
                    .item__img: img(alt="", src="")
                    .item__info
                        div
                            h4 Woitek Bedak
                            p Berufsbezeichnung Hirsch Katowice Sp. z o.o.
                        div
                            p
                                span.color-orange E:
                                span urbanczyk@otto.hb.pl

                p
                    | Warum bin ich bei der Firma Hirsch:
                    br/
                    | „Firma Hirsch gibt die Möglichkeit, an polnischen und europäischen Projekten teilzunehmen und Beziehungen zu aktuellen und neuen Geschäftspartnern aufzubauen.
                    br/
                    | Motto:
                    br/
                    | - Wir streichen die Welt bunt.
                    br/
                    | - Nur in richtigen Farben.“


    section.container-content.team.red#Warshaw
        .team__heading
            img(src="assets/i/Hirsch-Logo-Red-thumbnail.png", srcset="assets/i/Hirsch-Logo-Red.svg", alt="Hirsch International Warshaw", loading="lazy", width="47px")
            h3 Team Hirsch
            h4 Warshaw
            p www.hirsch-warsaw.pl

        .team__grid

            .item
                .item__card
                    .item__img: img(alt="", src="")
                    .item__info
                        div
                            h4 Rafał Człapa
                            p Geschäftsführende Gesellschafter Hirsch Warsaw Sp. z o.o.
                        div
                            p
                                span.color-orange E:
                                span czlapa@hirsch-warsaw.pl

                p
                    | Warum bin ich bei der Firma Hirsch:
                    br/
                    | „Firma Hirsch gibt die Möglichkeit, an polnischen und europäischen Projekten teilzunehmen und Beziehungen zu aktuellen und neuen Geschäftspartnern aufzubauen.
                    br/
                    | Motto:
                    br/
                    | - Wir streichen die Welt bunt.
                    br/
                    | - Nur in richtigen Farben.“



            .item
                .item__card
                    .item__img: img(alt="", src="")
                    .item__info
                        div
                            h4 Rafał Człapa
                            p Geschäftsführende Gesellschafter Hirsch Warsaw Sp. z o.o.
                        div
                            p
                                span.color-orange E:
                                span czlapa@hirsch-warsaw.pl

                p
                    | Warum bin ich bei der Firma Hirsch:
                    br/
                    | „Firma Hirsch gibt die Möglichkeit, an polnischen und europäischen Projekten teilzunehmen und Beziehungen zu aktuellen und neuen Geschäftspartnern aufzubauen.
                    br/
                    | Motto:
                    br/
                    | - Wir streichen die Welt bunt.
                    br/
                    | - Nur in richtigen Farben.“