extends extends/layout.pug
include mixins/sections.pug

block html
    - var meta_title = 'Leistungen'
    - var page_layout = 'default'
    - var bodyclass = ''

block content
    section.container-content-narrow.text-center
        h1 Team
        h2 Unternehmen sind Menschen
    
    section.container-content#international
        .team__heading
            img(src="assets/i/Hirsch-Logo-Small-thumbnail.png", srcset="assets/i/Hirsch-Logo-Small.svg", alt="Hirsch International", loading="lazy", width="47px")
            h3 Team Hirsch international
            h4 Österreich, Schweiz, Tschechien, Rumänien

        .team__grid

            div.item
                p Otto Hirsch ist Geschäftsführer in der vierten Generation. Mit seiner Energie und Begeisterung schaffte er aus dem eltertlichen Malereibetrieb ein internationales Unternehmen. Seine Familie ist ihm Rückgrat und unterstützt ihn bei seinen Sozialprojekten auf der ganzen Welt.

            div.item
                p Otto Hirsch ist Geschäftsführer in der vierten Generation. Mit seiner Energie und Begeisterung schaffte er aus dem eltertlichen Malereibetrieb ein internationales Unternehmen. Seine Familie ist ihm Rückgrat und unterstützt ihn bei seinen Sozialprojekten auf der ganzen Welt.

            div.item
                p Otto Hirsch ist Geschäftsführer in der vierten Generation. Mit seiner Energie und Begeisterung schaffte er aus dem eltertlichen Malereibetrieb ein internationales Unternehmen. Seine Familie ist ihm Rückgrat und unterstützt ihn bei seinen Sozialprojekten auf der ganzen Welt.