.home-specialization {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: calc(var(--font-size-text) + 6px);
    font-weight: 600;

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 50px;
        justify-items: center;
        margin-top: 40px;

        p {
            display: none;
            margin-top: 15px;
        }

        &:first-child {
            align-items: end;
            margin-top: 0;
        }

        @media screen and (max-width: 720px) {
            grid-template-columns: auto;
            p { display: block; }
            span { display: none; }
        }
    }
}

.home-quality {
    text-align: center;
    font-size: calc(var(--font-size-text) + 2px);
    position: relative;

    h2 {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        color: var(--color-orange);
        font-size: calc(var(--font-size-text) + 22px);
    }

    &__content {
        max-width: 520px;
        margin: 30px auto 0;
    }

    &__begin {
        position: absolute;
        top: 76px;
        right: 0;

        color: var(--color-body);
        text-shadow: 2px 3px 0px var(--color-orange);

        font-family: var(--font-family-headings);
        text-transform: uppercase;

        @extend %hidden; //for animation

        span {
            display: block;

            &:not(.big){
                font-weight: 300;
            }
        }

        .big {
            font-size: calc(var(--font-size-text) + 30px);
            line-height: 1;
        }

        @keyframes Rhombus {
            0% {
                transform: rotate(45deg) translateY(20%);
            }
            100%{
                transform: rotate(45deg) translateY(0%);
            }
        }
        
        $square_size: 140px;
        &::after {
            content: "";
            width: $square_size;
            height: $square_size;
            background-color: var(--color-orange);
            position: absolute;
            z-index: -1;
            top: calc(50% - 70px);
            left: calc(50% - 70px);
            transform: rotate(45deg), translateY(20%);
            transform-origin: 50% 50%;
            @extend %hidden;
        }
    }

    @media screen and (max-width: 900px) {
        &__begin {
            position: relative;
            top: 0;
            right: 0;
            padding: 80px 0;
        }

        p {
            margin-top: 10px;
        }
    }

    &__sign {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
    }

    &.animated {

        .home-quality__begin {
            animation: FadeIn .8s linear var(--animation-scrolldelay) forwards;

            &::after {
                animation: Rhombus .6s linear var(--animation-scrolldelay) forwards, FadeIn .6s linear var(--animation-scrolldelay) forwards; 
            }
        }

        .home-quality__sign {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 50px;
    
            $dashoffset: 600;
            $delay_sign: .5s;
            $duration: 1.2s;
    
            @keyframes sign {
                from {
                  stroke-dashoffset: $dashoffset;
                }
                to {
                  stroke-dashoffset: 0;
                }
            }

            svg {
                path, line {
                    stroke-dasharray: $dashoffset;
                    stroke-dashoffset: $dashoffset;
                    animation-name: sign;
                    animation-fill-mode: forwards;
                    animation-timing-function: ease-in-out;
                    animation-duration: $duration;
                }
            }
    
            #SignHirsch path {
                @for $i from 1 through 9 {
                    &:nth-child(#{$i}) { animation-delay: calc(var(--animation-scrolldelay) + #{$delay_sign} + #{$i}*0.2s); }
                }
            }
    
            #SignBogensperger {
                path, line {
    
                    @for $i from 1 through 9 {
                        &:nth-child(#{$i}) { animation-delay: $delay_sign*2 + 0.2*3 + $i*0.5s; }
                    }
                }
            }
        }

        
    }
}


.home-services {
    padding: 40px 0 5px;
    background-color: var(--color-gray-light);

    &__text {
        max-width: 850px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 40px;

        @media screen and (max-width: 650px) {
            grid-template-columns: 1fr;
        }

        h2 {
            text-align: left;
            margin-bottom: 0;
        }
    }

    .services {
        margin: 50px 0;
    }
}


.home-recommendations {
    &__btn {
        text-align: center;
        margin-top: 40px;
    }
}

.home-bonus {
    $duration_bonus: 0.3s;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 50%;
        background-color: var(--color-orange);
        z-index: 0;

        transform-origin: 0 50%;
            transform: scaleX(0);
    }

    & > div {
        @include secw(950px);
        display: grid;
        grid-template-columns: 1fr 3fr;
        background-color: var(--color-body);
        position: relative;
        z-index: 1;
        padding-left: 0;

        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr;

            h2 {
                margin-bottom: 40px;
            }
        }
       
    }

    h2 {
        color: var(--color-body);
        text-align: left;
        padding: 40px;
        margin-bottom: 0;
        position: relative;

        span {
            position: relative;
            z-index: 1;
        }

        &::before {
            content: "";
            background-color: var(--color-orange);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            transform-origin: 0 50%;
            transform: scaleX(0);
        }
    }

    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
        row-gap: 20px;
        margin-left: 80px;
        grid-auto-flow: dense;

        @media screen and (max-width: 760px) {
            grid-template-columns: 1fr;
            .col1, .col2 { grid-column: auto !important; }
        }

        li {
            margin-bottom: 0;
            display: grid;
            grid-template-columns: 33px auto;
            gap: 20px;

            &.col1 {
                grid-column: 1;
            }

            &.col2 {
                grid-column: 2;
            }
            
            i {
                position: relative;
                width: 33px;
                height: 33px;
                
                &::before, &::after {
                    content: "";
                    background-color: var(--color-orange);
                    position: absolute;
                    transform-origin: 50% 50%;
                    animation-fill-mode: forwards;
                    animation-timing-function: ease-in-out;
                    animation-duration:  $duration_bonus;
                }

                &::before {
                    top: 0;
                    bottom: 0;
                    left: calc(50% - 1px);
                    width: 2px;
                    transform: scaleY(0);
                }

                &::after {
                    left: 0;
                    right: 0;
                    top: calc(50% - 1px);
                    height: 2px;
                    transform: scaleX(0);
                }
            }
        }
    }

    &.animated {

        &::before, h2::before {
            animation-name: ScaleX;
            animation-timing-function: linear;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-delay: .7s;
        }

        &::before {
            animation-delay: .3s;
            animation-duration: .9s;
        }

        ul li {

            i {
                &::before {
                    animation-name: ScaleY;
                }

                &::after {
                    animation-name: ScaleX;
                }
            }

            &.col1 {
                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) i {
                        &::before, &::after {
                            animation-delay: calc( var(--animation-scrolldelay) + #{$i} * #{$duration_bonus} );
                        }
                    }
                }
            }
            
            &.col2 {
                @for $i from 4 through 6 {
                    &:nth-child(#{$i}) i {
                        &::before, &::after {
                            animation-delay: calc( var(--animation-scrolldelay) + #{$i} * #{$duration_bonus} );
                        }
                    }
                }
            }

        }
    }
}