.map {
    position: relative;
    padding-bottom: 70px;

    &::after {
        content: "";
        background-color: var(--color-darkblue);
        position: absolute;
        top: 35px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
    
    & > div {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
        position: relative;
        z-index: 1;
    }

    &__text {
        // align-self: start;
        padding: 70px 35px 35px;
        transform-origin: 50% 0;
        @extend %hidden;
        transform: translateY(-10%);
        
        &, h2 { color: var(--color-body); }
    }

    &__map {
        // max-height: 380px;
        margin-top: 120px;
        text-align: center;
        position: relative;

        &__map {
            @extend %hidden;
            display: block;
            max-width: 100%;
            // max-height: 100%;
        }

        &__logo {
            @extend %hidden;
            display: block;
            position: absolute;
            top: 0;
            left: calc(50% - 36px/2);
            width: 36px;
        }
    }

    @media screen and (max-width: 1000px) {
        & > div { grid-template-columns: 1fr 1fr; }
    }

    @media screen and (max-width: 760px) {
        & > div { grid-template-columns: 1fr; }
        &__text { padding-top: 35px; }
    }

    &.animated {

        .map {
            &__map {
                &__map {
                    animation: FadeIn 0.4s ease-in-out var(--animation-scrolldelay) forwards;
                }

                &__logo {
                    animation: FadeIn 0.4s ease-in-out calc( var(--animation-scrolldelay) + 0.6s ) forwards, FloatY 1.5s linear calc( var(--animation-scrolldelay) + 0.8s ) infinite;
                }
            }

            &__text {
                animation: FloatYDown .8s var(--animation-bump) calc( var(--animation-scrolldelay) + 0.2s ) forwards, FadeIn .6s linear calc( var(--animation-scrolldelay) + 0.2s ) forwards;
            }
        }
        
    }
}

.animated-border {
    position: relative;

    &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        border-style: solid;
        border-color: var(--color-orange);
        border-width: 0;
    }

    &::before {
        border-width: 9px 0;
        transform: scaleX(0);
        transform-origin: 0 50%;
    }

    &::after {
        border-width: 0 9px;
        transform: scaleY(0);
        transform-origin: 0 0;
    }
}

.animated .animated-border {
    $BO_duration: 0.4s;

    &::before {
        animation: ScaleX $BO_duration var(--animation-border)  var(--animation-scrolldelay) forwards;
    }

    &::after {
        animation: ScaleY $BO_duration var(--animation-border)  calc( var(--animation-scrolldelay) + #{$BO_duration} ) forwards;
    }
}