.map {
    position: relative;
    padding-bottom: 70px;

    &::after {
        content: "";
        background-color: var(--color-darkblue);
        position: absolute;
        top: 35px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
    
    & > div {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
        position: relative;
        z-index: 1;
    }

    &__text {
        // align-self: start;
        padding: 70px 35px 35px;
        border: 9px solid var(--color-orange);
        
        &, h2 { color: var(--color-body); }
    }

    &__map {
        max-height: 380px;
        margin-top: 120px;
        text-align: center;
        position: relative;

        &__map {
            @extend %hidden;
            display: inline-block;
            max-width: 100%;
            max-height: 100%;
        }

        &__logo {
            @extend %hidden;
            display: block;
            position: absolute;
            top: 0;
            left: calc(50% - 36px/2);
            width: 36px;
        }
    }

    @media screen and (max-width: 1000px) {
        & > div { grid-template-columns: 1fr 1fr; }
    }

    @media screen and (max-width: 760px) {
        & > div { grid-template-columns: 1fr; }
        &__text { padding-top: 35px; }
    }

    &.animated {
        .map__map__map {
            animation: FadeIn 0.4s ease-in-out 0.8s forwards;
        }

        .map__map__logo {
            animation: FadeIn 0.4s ease-in-out 1.4s forwards, FloatY 1.5s linear 1.6s infinite;
        }
    }
}