.recommendations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;

    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }

    a.recommendations__item {
        @extend %link_noline;
        
        &:hover {
            opacity: 0.5;
        }
    }

    &__item {
        transition: 0.2s ease all;
        color: var(--color-text);
        text-align: center;

        img, strong, i {
            display: block;
        }

        img {
            max-width: 100%;
            margin-bottom: 30px;
        }

        strong {
            text-transform: uppercase;
        }
    }
}