.team {
    &__heading {
        margin-bottom: 80px;

        &, h4 { text-align: center; }

        h3 {
            color: var(--color-text);
            font-weight: 700;
        }

        h4 {
            text-transform: none;
            letter-spacing: 0;
        }

        h3, h4 {
            margin: 0;
        }

        img {
            display: inline-block;
            margin-bottom: var(--space-side);
        }
    }


    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
    }
}