.header {
	position: relative;
	background-color: var(--color-body);

	&__top {
		position: relative;
		z-index: 10; 
	}

	&__menu {
		display: grid;
		grid-template-columns: 1fr 120px 1fr;
		column-gap: 50px;
		justify-items: start;
		padding-top: 40px;
		padding-bottom: 40px;

		.row {
			&:first-child {
				justify-self: end;
			}
		}

		@media screen and (max-width: 1320px) {
			grid-template-columns: repeat(2, 1fr);

			grid-template-areas:
			"logo logo"
			"menu1 menu2";

			.row {
				justify-self: center;
				&:nth-child(1) {
					grid-area: menu1;
				}
	
				&:nth-child(2) {
					grid-area: logo;
					justify-self: center;
				}
	
				&:nth-child(3) {
					grid-area: menu2;
					justify-self: start;
					
				}
			}
		}

		@media screen and (min-width: 1000px) {
			align-items: end;
		}


		&__links {

			a {
				display: inline-block;
				padding: 15px 10px;
			}

			&__item {
				display: inline-block;
				margin-left: 30px;
				vertical-align: middle;

				&:first-child {
					margin-left: 0;
				}

				&:hover {
					a{
						background-color: var(--color-darkblue);
						color: var(--color-body);
					}

					@media screen and (min-width: 1000px) {
						.header__menudropdown {
							display: block;
						}
					}
				}
			}

			&, a {
				color: var(--color-text);
				font-size: calc(var(--font-size-text) + 4px);
			}

			a {
				@extend %link_noline;
			}


			@media screen and (max-width: 1000px) {
				&__item {
					display: block;
					margin-left: 0;
				}
			}
		}
	}

	.language {

		a{
			display: block;
			padding: 6px 10px;
			border-width: 0 0 1px;
			border-style: solid;
			border-color: var(--color-gray);
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: calc(var(--font-size-text) + 2px);
			background-color: var(--color-body);

			&:last-child {
				border-bottom-color: transparent;
			}

			&:hover {
				color: var(--color-orange);
			}
		}

		.dropdown {
			&__toggle.active {
				background-color: var(--color-text);
				color: var(--color-body);
				border-color: transparent;
			}

			&__content a {
				color: var(--color-text);
				&:hover { color: var(--color-orange); }

				&.active {
					&, &:hover {
						opacity: 0.4;
						cursor: default;
						color: var(--color-text);
					}
				}
			}

			
		}

		@media screen and (max-width: 1000px) {
			.dropdown {
				&__toggle {
					display: none;
				}

				&__content {
					visibility: visible;
					opacity: 1;
					white-space: nowrap;
					position: relative;

					a {
						display: inline-block;
						border-width: 0 1px 0 0;

						&:last-child {
							border-width: 0;
						}
					}
				}
			}
		}
	}

	&__menudropdown {
		display: none;

		position: absolute;
		top: calc(100% - 40px);
		left: 0;
		right: 0;
		z-index: 1000;

		background-color: var(--color-darkblue);
		color: #ffffff;
		border-bottom: 2px solid #fff;
		box-shadow: 0px 2px 2px rgba(#000, .8);

		padding-top: var(--space-section);
		padding-bottom: var(--space-section);

		&:hover {
			display: block;
		}
		
	}

	.services-list {
		gap: calc( var(--space-section)/2 );
		align-items: start;

		a {
			height: auto;

			&:hover {
				background-color: var(--color-orange);
				opacity: 1;
			}
		}

		img {
			display: block;
			max-width: 100%;
		}

		span {
			display: inline-block;
			margin-top: 10px;
			font-size: calc(var(--font-size-text)) !important;
		}

		@media screen and (max-width: 1320px) {
			row-gap: 10px;

			a { text-align: left; }
			img { display: none; }
		}
	}



	&.header-home {
		position: relative;
		min-height: 100%;
		box-sizing: border-box;
		margin-bottom: var(--space-section);

		display: grid;
		grid-template-rows: auto 1fr;


		.header-home__video {
			overflow: hidden;
			position: relative;
			background-color: var(--color-gray-light);
			min-height: 400px;

			video {
				position: absolute;
				top: 0;
				left: 0;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				z-index: 0;

				@extend %hidden;
			}

			&.animated {
				video {
					animation: FadeIn var(--animation-appearduration) linear var(--animation-appeardelay) forwards;
				}
			}

			h1 {
				text-align: center;
				color: #ffffff;
				font-family: var(--font-family-headings);
				font-weight: 400;
				font-size: calc(var(--font-size-text) + 32px);
				line-height: 1.2;
				position: absolute;
				bottom: 15%;
				left: 0;
				right: 0;
				z-index: 1;

				@media screen and (max-width: 500px) {
					font-size: calc(var(--font-size-text) + 25px);
					bottom: 20%;
				}
			}
		}

		.scroll {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 25px;

			display: block;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-align: center;

			&, &:hover {
				@extend %link_noline;
				color: var(--color-body);
			}

			span {
				display: block;
			}
			.st0{ fill:none; stroke:#FFFFFF; stroke-miterlimit:10; }
			.arrow {
				animation: 3.5s ease-in-out 5s infinite forwards BounceScroll;
			}
		}
	}
}

.header__top__mobile {
	padding: 20px 0;
	display: none;
}

@media screen and (max-width: 1000px) {
	.header {
		&__top {
			position: fixed !important;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1000;
			background-color: var(--color-body);
			box-shadow: 0px 2px 6px rgba(#000, .4);

			&__mobile{
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}

		&__menu {
			padding-top: 0;

			// grid-template-columns: minmax(100px, 200px) minmax(100px, 200px);
			// .row { justify-self: end !important; }

			.logo { display: none; }
		}
	}

	.toggler-content {
		display: none;

		&.open {
			display: block;
		}
	}
}



body {
	--toggler-size: 40px;
	--toggler-weight: 1px;
	--toggler-color: #000;
}

.toggler {
	display: grid;
	align-items: center;
	justify-items: center;
	width: var(--toggler-size);
	height: var(--toggler-size);
	padding: calc( var(--toggler-size)/6 );
	box-sizing: border-box;
	border: var(--toggler-weight) solid var(--toggler-color);

	span {
		display: block;
		height: var(--toggler-weight);
		width: 100%;
		background-color: var(--toggler-color);
		transition: 0.2s ease all;
	}

	&.open {
		span {
			&:nth-child(1) {
				opacity: 0;
			}
			
			&:nth-child(2) {
				transform: rotate(45deg);
				transform-origin: 50%;
			}
			
				&:nth-child(3) {
				transform: rotate(-45deg);
				margin-top: calc( -1 * var(--toggler-size)/3 );
				transform-origin: calc(50% - var(--toggler-weight)*2 );
			}
		}
	}
}

.social .header {
	text-align: center;
	background-color: #F2EDE2;
	margin-bottom: 80px;

	& > * {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 40px;
		
	}

	.row:last-child {
		text-align: right;
	}

	.emblem {
		display: inline-block;
		position: relative;
		top: -60px;
	}

	.header__menu__links__item {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 600;

		&:not(.language){
			a:hover, a.active {
				color: var(--color-orange);
				background-color: transparent;
			}
		}
	}

	@media screen and (max-width: 550px) {
		padding-bottom: 40px;

		& > * {
			align-items: start;
		}

		.emblem { 
			top: 0;
		}
	}
}

// .toggler-content {
// 	display: none;

// 	&.open {
// 		display: block;
// 	}
// }